@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@200&display=swap');

.title {
  font-family: PT Serif;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  font-family: PT Serif;
  font-size: 25px;
  border-color: pink;
  background-color: pink;
  border-width: 10px;
  border-style: solid;
  display: flex;
  justify-content: space-between;
}

.blog-post {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border:slategrey;
  border-style: solid;
  border-width: 10px;
}

.box-1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border:slategrey;
  border-style: solid;
  border-width: 10px;
  font-family: Bitter;
  font-size: 14px;
}

.box-2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border:slategrey;
  border-style: solid;
  border-width: 10px;
  font-family: Bitter;
  font-size: 14px;
}